<template>
    <div>
        <h1>Buttons</h1>
        <button mat:button>Basic</button>
        <button mat:button-primary>Basic</button>
        <button mat:button-danger>Basic</button>
        <button mat:button-success>Basic</button>
        <br /><br />
        <button mat:button-outline>Outline</button>
        <button mat:button-outline-primary>Outline</button>
        <button mat:button-outline-danger>Outline</button>
        <button mat:button-outline-success>Outline</button>
        <br /><br />
        <button mat:button-raised>Raised</button>
        <button mat:button-raised-primary>Raised</button>
        <button mat:button-raised-danger>Raised</button>
        <button mat:button-raised-success>Raised</button>
    </div>
</template>

<script>
    export default class Button {
    }
</script>