/**
 * FRAMEWORK
 */

:root {
    --primary-color: #4581e9;
    --primary-color-light: #5c90ec;

    --default-color: white;
    --default-color-light: #f5f5f5;

    --danger-color: #db2828;
    --danger-color-light: #df4242;

    --success-color: #21ba45;
    --success-color-light: #3ec35d;

    --main-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.mat-input {
    background: white;
    border-radius: 3px;
    border: solid 1px #d9deec;
    padding: 8px;
    height: 31px;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto;
    font-size: 12px;
}
.mat-input:focus {
    border: solid 1px #999999;
}
.mat-input::placeholder {
    color: #c5d0df;
}


.mat-btn {
    height: 30px;
    padding: 1px 15px;
    border-radius: 3px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}
.mat-btn.default {
    color: #333;
    background: var(--default-color);
    border: solid 1px var(--default-color);
}
.mat-btn.default:hover {
    border: solid 1px var(--default-color-light);
    background: var(--default-color-light);
}
.mat-btn.primary {
    color: white;
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.mat-btn.primary:hover {
    background: var(--primary-color-light);
    border: solid 1px var(--primary-color-light);
}
.mat-btn.danger {
    color: white;
    background: var(--danger-color);
    border: solid 1px var(--danger-color);
}
.mat-btn.danger:hover {
    background: var(--danger-color-light);
    border: solid 1px var(--danger-color-light);
}
.mat-btn.success {
    color: white;
    background: var(--success-color);
    border: solid 1px var(--success-color);
}
.mat-btn.success:hover {
    background: var(--success-color-light);
    border: solid 1px var(--success-color-light);
}


.mat-btn.outline.default {
    background: var(--default-color);
    border: solid 1px #d9deec;
}
.mat-btn.outline.default:hover {
    background: var(--default-color-light);
}
.mat-btn.outline.primary {
    color: var(--primary-color);
    background: transparent;
    border: solid 1px var(--primary-color);
}
.mat-btn.outline.primary:hover {
    color: white;
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.mat-btn.outline.danger {
    color: var(--danger-color);
    background: transparent;
    border: solid 1px var(--danger-color);
}
.mat-btn.outline.danger:hover {
    color: white;
    background: var(--danger-color);
    border: solid 1px var(--danger-color);
}
.mat-btn.outline.success {
    color: var(--success-color);
    background: transparent;
    border: solid 1px var(--success-color);
}
.mat-btn.outline.success:hover {
    color: white;
    background: var(--success-color);
    border: solid 1px var(--success-color);
}


.mat-btn.raised {
    box-shadow: var(--main-shadow);
}


.mat-badge {
    position: relative;
}
.mat-badge .mat-badge-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    right: -22px;
    top: -11px;
    line-height: 22px;
    font-size: 13px;
    border-radius: 50%;
    font-family: Roboto;
    text-align: center;
    box-shadow: var(--main-shadow);
}

.mat-badge .mat-badge-icon.mat-btn.default {
    color: #333;
    background: var(--default-color);
}
.mat-badge .mat-badge-icon.primary {
    color: white;
    background: var(--primary-color);
}
.mat-badge .mat-badge-icon.danger {
    color: white;
    background: var(--danger-color);
}
.mat-badge .mat-badge-icon.success {
    color: white;
    background: var(--success-color);
}

/**
 * FRAMEWORK
 */
