<template>
    <div>
        <h1>Card</h1>
        <mat-card style="width: 400px;">
            <span slot="card-header">Sign in here!</span>
            <div slot="card-header-actions">
                <button mat:button-raised>Btn</button>
            </div>
            <img slot="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
            <p slot="card-body" style="margin-top: 0;" class="body-p">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Aenean a augue vitae nibh tempus gravida sit amet id purus. Quisque ultricies porta libero, ac
                hendrerit nunc finibus in. Fusce purus mauris, volutpat a feugiat sed, sagittis vitae nulla. Quisque
                at massa nulla. Duis risus lectus, porttitor ac bibendum et, dapibus a nulla. Cras posuere ligula et
                purus molestie, sagittis imperdiet lorem sodales. Praesent blandit enim ac sollicitudin tristique.
                Curabitur mi lectus, molestie congue iaculis a, porttitor a odio. Ut pharetra, lacus in blandit
                tincidunt, arcu massa auctor magna, eget elementum mauris nisi sit amet nisl. Nunc porta orci sit
                amet lorem egestas molestie.</p>
            <p slot="card-body" style="margin-top: 0;" class="body-p">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Aenean a augue vitae nibh tempus gravida sit amet id purus. Quisque ultricies porta libero, ac
                hendrerit nunc finibus in. Fusce purus mauris, volutpat a feugiat sed, sagittis vitae nulla. Quisque
                at massa nulla. Duis risus lectus, porttitor ac bibendum et, dapibus a nulla. Cras posuere ligula et
                purus molestie, sagittis imperdiet lorem sodales. Praesent blandit enim ac sollicitudin tristique.
                Curabitur mi lectus, molestie congue iaculis a, porttitor a odio. Ut pharetra, lacus in blandit
                tincidunt, arcu massa auctor magna, eget elementum mauris nisi sit amet nisl. Nunc porta orci sit
                amet lorem egestas molestie.</p>
            <div slot="card-footer">
                <button mat:button-raised-primary>Button in footer</button>
            </div>
            <div slot="card-footer-left">
                <button mat:button-raised-danger>Button in footer left</button>
            </div>
            <div slot="card-footer-right">
                <button mat:button-raised-success>Button in footer right</button>
            </div>
        </mat-card>
    </div>
</template>