<template>
    <div class="row">
        <div v:for={this.files} v:for-item="$file" class="col-xl-3 col-md-6 mb-4 document-pdf-item">
            <div class="card shadow h-100 py-2">
                <div class="dropdown no-arrow doc-item-menu">
                    <a class="dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                        <a class="dropdown-item" href="javascript:;">Cut</a>
                        <a class="dropdown-item" href="javascript:;">Rename</a>
                        <a class="dropdown-item" href="javascript:;">Delete</a>
                    </div>
                </div>
                <div on:click={()=> this.pdfClicked($index)} class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{new
                                Date($file.createdAt).toDateString()}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{$file.originalname}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file-pdf fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Router from "munster-router";

export default class Files {

    files = [];

    $connected() {
        this.$store.files.watch(files => {
            this.files = files;
            this.$apply();
        });
    }

    pdfClicked(index) {
        Router.navigate(`/auth/pdf-viewer/${this.files[index].filename}`);
    }
}
</script>