<template>
    <div class="row" template-model="foldersRow">
        <div v:for={this.folders} v:for-item="$item" class="col-xl-3 col-md-6 mb-4 document-pdf-item">
            <div class="card border-left-primary shadow h-100 py-2 document-pdf-item-content">
                <div class="dropdown no-arrow doc-item-menu">
                    <a class="dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                        <a class="dropdown-item" href="javascript:;">Cut</a>
                        <a class="dropdown-item" on:click={()=> this.setSelectedFolder($index)} href="#"
                            data-toggle="modal" data-target="#rename-folder-modal">Rename</a>
                        <a class="dropdown-item" href="#" on-prevent:click={()=> this.delete($item)}>Delete</a>
                    </div>
                </div>
                <div on:click={()=> this.openFolder($index)} class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{new
                                Date($item.createdAt).toDateString()}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{$item.folderName}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-folder fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-folder-rename-modal prop:currentFolder={this.selectedFolder} prop:onSubmit={this.onRenameSubmit.bind(this)} />
    </div>
</template>

<script>
    import Router from "munster-router";
    import FolderService from "../services/folder.service";

    export default class Folders {

        folders = [];
        folderService = new FolderService();
        selectedFolder = {};

        $connected() {
            this.$store.folders.watch(folders => {
                this.folders = folders
                this.$apply();
            });
        }

        openFolder(index) {
            Router.navigate(`/auth/documents/${this.folders[index]._id}`);
        }

        async delete(folder) {
            if (confirm('Are you sure you want to delete this folder?')) {
                await this.folderService.delete(folder._id);
                this.$store.folders = this.$store.folders.value().filter(item => item._id !== folder._id);
            }
        }

        async onRenameSubmit(newName) {
            if (newName) {
                const response = await this.folderService.rename(this.selectedFolder._id, newName);
                this.selectedFolder = response;
                this.$store.folders = this.$store.folders.value().map(item => {
                    if (item._id === response._id) {
                        return response;
                    }
                    return item;
                });
                this.$apply();
            } else {
                alert('Folder name is require!');
            }
        }

        setSelectedFolder(index) {
            this.selectedFolder = this.folders[index];
        }
    }
</script>