<template>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Home Page</h1>
        </div>
        <div class="row">
            <div v:for={this.getLinks()} on:click={()=> Router.navigate(`/auth/report/${$item.link}`)} class="col-2 mb-4 home-document-links">
                <div class={`card ${$item.bg} text-white shadow`}>
                    <div class="card-body">
                        <span><i class="fa fa-file"></i></span>
                        <br />
                        <div class="text-white-50 small ellipsis-text">{$item.text}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Router from "munster-router";
import CategoryService from "../services/category.service";

export default class Home {

    categoryService = new CategoryService();
    categoryList = [];

    async $connected() {
        this.$store.category.watch(category => {
            this.categoryList = category.list;
        });

        const response = await this.categoryService.fetch();
        this.$store.category = {
            ...this.$store.category.value(),
            list: response
        };
        this.$apply();
    }

    getLinks() {
        const bgs = ['bg-primary', 'bg-danger', 'bg-success', 'bg-warning'];
        return this.categoryList.map((item, index) => ({
            text: item.category,
            bg: bgs[index % 4],
            link: item.categoryKey
        }))
    }
}
</script>
