<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">

                                        <label>
                                            <i class="fa fa-user mr-1"></i>
                                            <span>{this.isAdmin ? 'Administrator' : 'Staff'}</span>
                                        </label>
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>

                                        <app-login-form />

                                    </div>

                                    <hr />
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <plug-link class="small" href="/register">Create an Account!</plug-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default class Login {
    isAdmin = false;

    $connected() {
        this.$store.isAdminLogin.watch((value) => {
            this.isAdmin = value;
            this.$apply();
        });
        document.body.classList.add('bg-gradient-primary');
    }

    $disconnected() {
        const { pathname } = window.location;
        if (pathname !== '/' && pathname !== '/register') {
            document.body.classList.remove('bg-gradient-primary');
        }
    }
}
</script>