<template>
    <div class="container-fluid">
        <object class="pdf-viewer" data={this.pdfUrl} type="application/pdf"></object>
    </div>
</template>

<script>
import { SERVER_URL } from "../constants";

export default class PDFViewer {

    pdfUrl = '';

    $connected() {
        const filename = this.$router.params().filename;
        const pageNumber = this.$router.params().pageNumber || '1';
        this.pdfUrl = `${SERVER_URL}/api/file/display.pdf?pdfFilename=${filename}#page=${pageNumber}`;
        this.$apply();
    }
}
</script>