<template>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body" style="min-height: calc(100vh - 120px);">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <img src={ProfilePic} style="width: 150px; height: 150px; border-radius: 50%;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <h4>Profile</h4>
                        </div>
                    </div>
                </div>
                <form on-prevent:submit={this.updateProfile}>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                                <label>First Name:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input v:model={this.user.firstName} type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                                <label>Last Name:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input v:model={this.user.lastName} type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <h4>Change Password</h4>
                        </div>
                    </div>
                </div>
                <form on-prevent:submit={this.changePassword}>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                                <label>Current Password:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                                <label>New Password:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                                <label>Confirm Password:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import ProfilePic from '../assets/profile-placeholder.jpg';

export default class Profile {
    user = {};

    $connected() {
        this.$store.authUser.watch(user => {
            this.user = user;
            this.$apply();
        });
    }

    updateProfile() {

    }

    changePassword() {

    }
}
</script>