<template>
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <form on-prevent:submit={this.search} style="width: 100%;">
                    <div class="input-group input-group-sm">
                        <input v:model={this.keyword} type="text" class="form-control" placeholder="Search ..." />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body" style="min-height: calc(100vh - 169px);">
                <h3 v:if={!this.searched} class="text-center pt-5 mt-5" style="font-size: 20px; color: #dedfe2;">
                    <i class="fa fa-search mb-2" style="font-size: 35px;"></i> <br />
                    Search files ...
                </h3>
                <table v:if={this.searched} class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Page No.</th>
                            <th>Category</th>
                            <th>Upload Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Filename</th>
                            <th>Page No.</th>
                            <th>Category</th>
                            <th>Upload Date</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr v:for={this.searchResult}>
                            <td>{$item.originalname}</td>
                            <td>{$item.pageNumber}</td>
                            <td>{$item.categoryKey}</td>
                            <td>{new Date($item.createdAt).toDateString()}</td>
                            <td class="py-2">
                                <button on:click={()=> this.view($index)} class="btn btn-sm btn-primary">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Router from "munster-router";
    import FileService from "../services/file.service";

    export default class SearchFile {

        fileService = new FileService();
        searched = false;
        keyword = '';
        searchResult = [];

        async search() {
            this.searched = true;
            const response = await this.fileService.search(this.keyword);
            this.searchResult = response;
            this.$apply();
        }

        view(index) {
            Router.navigate(`/auth/pdf-viewer/${this.searchResult[index].filename}/${this.searchResult[index].pageNumber}`);
        }
    }
</script>