<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <plug-link class="sidebar-brand d-flex align-items-center justify-content-center" href="/auth/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ARCHIVING</div>
        </plug-link>
        <hr class="sidebar-divider my-0" />
        <li class="nav-item">
            <plug-link class="nav-link" href="/auth">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </plug-link>
        </li>

        <hr class="sidebar-divider" />

        <div class="sidebar-heading"> Interface </div>

        <li class="nav-item">
            <plug-link class="nav-link collapsed" href="/auth/search">
                <i class="fas fa-fw fa-search"></i>
                <span>Search file</span>
            </plug-link>
        </li>
        <li class="nav-item">
            <plug-link class="nav-link collapsed" href="/auth/documents">
                <i class="fas fa-fw fa-file"></i>
                <span>Documents</span>
            </plug-link>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseReports"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-folder"></i>
                <span>Reports</span>
            </a>
            <div id="collapseReports" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Reports Menu:</h6>
                    <plug-link v:for={this.categoryList} class="collapse-item"
                        href={`/auth/report/${$item.categoryKey}`}>{$item.category}</plug-link>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <plug-link class="nav-link collapsed" href="/auth/upload">
                <i class="fas fa-fw fa-upload"></i>
                <span>Upload</span>
            </plug-link>
        </li>
        <li class="nav-item">
            <plug-link class="nav-link collapsed" href="/auth/users-reports">
                <i class="fas fa-fw fa-user"></i>
                <span>Users Reports</span>
            </plug-link>
        </li>
        <li class="nav-item">
            <plug-link class="nav-link collapsed" href="/auth/settings">
                <i class="fas fa-fw fa-cog"></i>
                <span>Settings</span>
            </plug-link>
        </li>

        <hr class="sidebar-divider d-none d-md-block" />
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</template>

<script>
    import CategoryService from "../services/category.service";

    export default class Sidebar {

        categoryList = [];
        categoryService = new CategoryService();

        async $connected() {
            const response = await this.categoryService.fetch();
            this.$store.category = {
                ...this.$store.category.value(),
                list: response
            };
            this.$store.category.watch(category => {
                this.categoryList = category.list;
                this.$apply();
            });
        }

    }
</script>