<template>
    <ul>
        <li>
            <plug-link href="/components/button">Button</plug-link>
        </li>
        <li>
            <plug-link href="/components/badge">Badge</plug-link>
        </li>
        <li>
            <plug-link href="/components/card">Card</plug-link>
        </li>
        <li>
            <plug-link href="/components/checkbox">Checkbox</plug-link>
        </li>
        <li>
            <plug-link href="/components/radio">Radio</plug-link>
        </li>
        <li>
            <plug-link href="/components/chip">Chip</plug-link>
        </li>
        <li>
            <plug-link href="/components/date-picker">Date Picker</plug-link>
        </li>
        <li>
            <plug-link href="/components/input">Input</plug-link>
        </li>
    </ul>
</template>