<template>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <plug-link class="dropdown-item" href="/auth/registration-tokens">Registration Tokens
                        </plug-link>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>User Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>User Type</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr v:for={this.users} v:for-item="user">
                                <td class="text-capitalize">
                                    <plug-link href={`/auth/profile/${user._id}`}>
                                        {`${user.firstName} ${user.lastName}`}
                                    </plug-link>
                                </td>
                                <td>{user.username}</td>
                                <td>{user.userType}</td>
                                <td class="py-2">
                                    <button on:click={()=> this.toggleDisable(user)}
                                        class={user.disabled ? "btn btn-primary btn-sm" : "btn btn-danger btn-sm"}
                                        >{ user.disabled ? 'Enable' : 'Disable' }</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserService from "../services/user.service";

export default class UserReport {

    users = [];
    userService = new UserService();

    async $connected() {
        const response = await this.userService.fetch();
        this.users = response;
        this.$apply();
    }

    async toggleDisable(user) {
        user.disabled = !user.disabled;
        await this.updateUser(user);
        const users = this.users.map(item => {
            if (user._id === item._id) {
                return user;
            }
            return item;
        });
        this.users = users;
        this.$apply();
    }

    async updateUser(user) {
        return await this.userService.disable(user);
    }
}
</script>