<template>
    <div class="login-page">
        <form>
            <mat-card>
                <span slot="card-header">Sign in here!</span>
                <div slot="card-body">
                    <input mat:input placeholder="Email address" class="form-input" type="email" required />
                    <input mat:input placeholder="Password" class="form-input" type="password" />
                </div>
                <div slot="card-actions-left">
                    <plug-link class="form-link" href="/register">Create an account</plug-link>
                </div>
                <div slot="card-actions-right">
                    <button mat:button-primary>Sign In</button>
                </div>
            </mat-card>
        </form>
    </div>
</template>

<style>
    .login-page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .form-input {
        background: #f1f5ff!important;
        border-color: #f1f5ff;
    }
    .form-link {
        font-size: 13px;
    }
</style>